*{
    color: #737373;
}
#container{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    height: auto;
}
#left{
    /* border: 1px solid red; */
    width: 55%;
    background-color: #ececec;
    margin: auto;
}
#left>div{
    /* border: 1px solid blueviolet; */
    height: 90%;
    margin: 50px 50px 100px 200px;
}
#crrPage{
    display: flex;
}
#crrPage>h5{
    margin-right: 8px;
    margin-top: 10px;
}
#contact{
    /* border: 1px solid blue; */
    display: flex;
    margin-top: -20px;
}
#log{
    /* border: 1px solid green; */
    margin: 22px 0px 0px 5px;
    color: red;

}
#contact>div{
    width: 92%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
input{
    width: 99%;
    height: 40px;
    border: 0px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#box{
    border: 1px solid #b8b8b8;
    height: 15px;
    margin: -315px;
}
/* #submit{
    display: flex;
} */
#btn{
    width: 180px;
    height: 60px;
    margin: 20px 10px 0px 0px;
    border-radius: 5px;
    border: 0px;
    background-color: #437111;
    color: white;
}
#btn:hover{
    background-color: #315f00;
    cursor: pointer;
}
#line{
    width: 100%;
    border: 1px solid #737373;
    background-color: #737373;
    margin: 50px 0px 10px 0px;
}
#bottom{
    /* border: 1px solid green; */
    display: flex;
}
#bottom>p{
    margin: 0px 30px 0px 0px;
    font-size: small;
    color: red;
}
p{
    color: #2f2f2f;
    font-size: 1.25rem;
    
}
h5{
    color: #4E4E4E;
    font: 14px;
    font-weight: 100;
}
#first{
    width: 46%;
    margin: 0px 20px 20px 0px;
    padding-left: 10px;
}
#last{
    width: 46%;
    margin: 0px 0px 20px 0px;
    padding-left: 10px;
}
#csp{
    width: 30%;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: red;
}
