
#container{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    height: auto;
}
#left{
    /* border: 1px solid red; */
    width: 55%;
    background-color: #ececec;
    margin: auto;
}
#info>input{
    width: 85%;
    height: 40px;
    border: 0px;
    margin-left: 20px;
}
#left>div{
    /* border: 1px solid blueviolet; */
    height: 90%;
    margin: 50px 50px 100px 200px;

}
#bottom{
    /* border: 1px solid green; */
    display: flex;
}
#bottom>p{
    margin: 0px 30px 0px 0px;
    font-size: small;
    color: red;
}
#line{
    width: 100%;
    border: 1px solid #737373;
    background-color: #737373;
    margin: 100px 0px 0px 0px;
}
form{
    padding: 1rem;
}
#info{
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    background-color: white;
    color: #737373;
    padding-left: 10px;
    width: 100%;
}
#line1{
    margin: 0px 10px 0px 10px;
    border: 1px solid #c7c7c7;
    background-color: #c7c7c7;
}
#Payment{
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}
#crrPage{
    display: flex;
}
#crrPage>h5{
    margin-right: 8px;
    margin-top: 10px;
}
h5{
    margin-top: -10px;
    color: #737373;
    font-weight: 100;
}
#card{
    margin: 10px;
    display: flex;
}
select{
    height: 35px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: -5px 10px 0px -5px;
}
#pay{
    width: 85%;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
}
#cvv{
    width: 20%;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    margin: -11px 0px 0px 10px;
    border: 1px solid #b8b8b8;
}
#p1{
    margin: -5px 0px 0px 150px;
}
form~p{
    font-size: large;
}
#submit{
    display: flex;
}
#submit>input{
    width: 150px;
    height: 60px;
    margin: 20px 10px 0px 0px;
    border-radius: 5px;
    border: 0px;
    background-color: #437111;
    color: white;
}
#submit>input:hover{
    background-color: #315f00;
    cursor: pointer;
}
#submit>p{
    color: red;
    margin: 35px 0px 0px 10px;
}
a{
    text-decoration: none;
    color: red;
}
#cash{
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin-top: 20px;
    font-size: larger;
    height: 50px;
    align-items: center;
    display: flex;
}
