

#contact{
    height: 600px ;
    background-color: gainsboro;
    display: flex;
    text-align: center;


}
#add1{
    height: 300px;
    width: 20%;
    text-align: left;
    margin: 150px 400px ;
    position: absolute;
    /* border: 1px red solid; */


}
#add{
    width: 43%;
    /* border: 1px solid red; */
    text-align: right;
    margin-top: 150px;
}
img{
    width: 100%;
}

.image{
    /* position: fixed; */
    position: absolute;
    margin-left: 20%;

    width:60%;
    


}
#image{
    justify-content: center;
}
#card{
    border: 1px solid gainsboro;
    width: 100%;
    justify-content: center;
    
    

    
}
input{
    width: 100%;
}
#details{
    /* border: 1px solid red; */
    justify-content: center;
    margin: auto;
    width: 50%;
    text-align: left;
    font-size: 30px;
    
}
button{
    /* background-color: red; */
    
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 20%;
}