

#contact{
    height: 600px ;
    background-color: gainsboro;
    display: flex;
    text-align: center;


}
#add1{
    height: 300px;
    width: 20%;
    text-align: left;
    margin: 150px 400px ;
    position: absolute;
    /* border: 1px red solid; */


}
#add{
    width: 50%;
}

.image{
    /* position: fixed; */
    position: absolute;
    margin-left: 20%;
    


}
#image{
    justify-content: center;
}
#card{
    border: gainsboro;
    width: 40%;

    
}
#details{
    /* border: 1px solid red; */
    /* justify-content: center; */
    margin: auto;
    width: 20%;
    text-align: left;
    font-size: 30px;
}
#button{
    /* background-color: red; */
    margin-left: 60%;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}