body{
    background-color: #eeeeea;
}
#greenbox{
    height: 140px;
    width: 100%;
    background-color: green;

}
#greenbox h1{
    font-size: 100px;
    color: white;
    margin-top: 0px;
    text-align: center;
}
#faqhref a{
    width: 20%;
    margin: auto;
    color: black;
    text-decoration: none;
    
    font-size: larger;
    /* background-color: red; */
    font-weight: bolder;

}
#faqhref a:hover{
   
    margin: auto;
    color: black;
    text-decoration:underline;
    
    /* background-color: red; */

}

#faqhref p{
    width: 80%;
    margin: auto;
    text-align: center;
}
#faqhref{
    background-color: #eeeeea;
    height: 150px;

    width: 100%;
}
#faqhead {
    background-color: #eeeeea;
    height: 230px;



}
/* #faqhead>div{
    margin-top: 25px;
} */
.faqhead1 p,h2{
    width: 95%;
    font-size: larger;
    margin:  auto;
   
}

.faqhead1 {
    width: 80%;
    
    margin: auto;
    border: 1px grey solid;
}
.faqinput1 {
    width: 80%;
    
    margin: auto;
    border: 1px grey solid;
}
#faqinput{
    background-color: #eeeeea;
    justify-content: center;
    margin:  auto;
    height: 200px;

}
.faqinput1 p,h2{
    width: 95%;
    font-size: larger;
    margin:  auto;
   
}


